# Packages installés à partir de dépôts Git
-e git+https://github.com/emmanuel-battesti/simple-playgrounds.git@swarm-rescue-v3#egg=spg
#-e git+https://github.com/ompl/ompl.git@main#egg=ompl&subdirectory=py-bindings

# Outils de test et de couverture
coverage
gprof2dot

# Librairies spécifiques
fpdf>=1.7.2                # Génération de fichiers PDF
numba>=0.58.1              # Accélération avec des compilateurs JIT
opencv-contrib-python>=4.10.0.84  # Traitement d'images
pandas>=2.0.3              # Analyse de données
pathlib2>=2.3.7.post1      # Gestion de chemins (backport pour Python 2, si nécessaire)
python-statemachine>=2.3.6 # Gestion des machines à états

# Notes pour les utilisateurs (sections désactivées si nécessaire)
# -e /home/battesti/projetCompetDronesDGA/simple-playgrounds

